@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;600;700&family=Arimo:ital,wght@0,700;1,600&family=DynaPuff:wght@600;700&family=Exo+2:wght@500;600;700&family=Frank+Ruhl+Libre:wght@600;700;900&family=Gloria+Hallelujah&family=IBM+Plex+Sans:ital,wght@0,500;0,600;1,500&family=Indie+Flower&family=Lavishly+Yours&family=Mulish:ital@1&family=Orbitron&family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Telex&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}
/*-----------------*/

.mobile-toggle {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/*-----------------*/
/*--------------border----------*/
.border-bottom {
  background: url(../img/boder-bottom.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33px;
  width: 100%;
  z-index: 1;
  bottom: -42px;
}
.border-top {
  background: url(../img/boder-top.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33px;
  width: 100%;
  z-index: 1;
}
.border-slider {
  background: url(../img/boder-bottom.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  width: 100%;
  z-index: 1;
  margin-top: -60px;
}
.border-bottom-cate {
  background: url(../img/boder-bottom.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33px;
  width: 100%;
  z-index: 1;
  top: 21%;
}
.border-bottom-page {
  background: url(../img/boder-bottom.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33px;
  width: 100%;
  z-index: 1;
  top: 23%;
}
.border-bottom-detail {
  background: url(../img/boder-bottom.png);
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33px;
  width: 100%;
  z-index: 1;
  top: 23%;
}
/*-----------------------*/
.h-24 {
  height: 24px;
}
.box-topic .h-24 {
  height: 111px;
  fill: rgb(0, 150, 187);
}
.icon-svg {
  width: 50%;
  height: 24px;
  fill: rgb(0, 150, 187);
}
.wrap-organizing .h-24,
.wrap-companion .h-24,
.wrap-body .h-24 {
  height: 50px;
  fill: rgb(0, 150, 187);
}
.icon {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  padding: 5px 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;

  line-height: 1.5;
}
h3 {
  font-size: 2rem;
  padding: 5px 0;
  line-height: 1.5;
}
h4 {
  font-size: 2.2rem;
  padding: 5px 0;
  line-height: 1.5;
}
p {
  font-size: 1.2rem;
  padding: 5px 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: 'Roboto', sans-serif;
}
header {
  border-bottom: 1px solid #eee;
}

header .navigation {
  max-width: 1000px;
  margin: auto;

  display: flex;
  align-items: center;
  column-gap: 30px;
}

.navigation .wrap-logo .logo {
  width: 120px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) center center/112px no-repeat;
  object-fit: cover;
}

.navigation .buttons {
  display: flex;
  column-gap: 10px;
}

.navigation .menu {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.navigation .menu .main > a {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

header nav ul > li {
  list-style: none;
  float: left;
  position: relative;
}

/*  Special Items*/

header nav ul > li:hover > a {
  color: #1d1d1d;

  box-shadow: rgba(12, 12, 12, 0.2) 0px 7px 29px 0px;
}

header nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 15em;
  color: #1d1d1d;
  background: rgba(249, 247, 247, 0.801);
  box-shadow: rgba(0, 150, 187, 0.533) 0px 7px 29px 0px;
  z-index: 999;
  display: none;
  border-radius: 2px;
}

header nav ul > li:hover ul {
  display: block;
}

header nav ul ul li {
  width: 100%;
  background: none !important;
}

header nav ul ul li a {
  background: none !important;
  border: none !important;
  font-size: 0.75em;
  color: #1d1d1d;
  background: none;
  padding: 1em 1.5em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
header nav ul ul li a:hover {
  background: #ffffffb5 !important;
}

/*-------Mobile nav-----------*/
.nav-btn {
  width: 28px;
  height: 28px;
  color: #fff;
  margin-left: 8px;
}
.nav-overlay {
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 999;
  transform: translateX(-100%);

  transition: transform linear 0.2s;

  align-items: flex-start !important;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  padding: 0px 15px;
}
.mobile-main {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 8px 0px;
  font-size: 1.3rem;
}
.nav-btn-close {
  font-size: 1.2rem;
  color: #666;
  position: absolute;
  top: 0.4rem;
  right: 1rem;
}
.nav-btn-close svg {
  width: 28px;
  height: 28px;
}
.nav-input {
  display: none;
}
.nav-input:checked ~ .nav-overlay {
  display: block;
}

.nav-input:checked ~ .nav-mobile {
  transform: translateX(0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-mobile {
  display: none;
}

.menu-mobile .logo {
  width: 120px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) center center/112px no-repeat;
  object-fit: cover;
}

.nav-mobile .top-logo {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0px;
}

.menu-mobile .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0px;
}

/*-----main-------------*/
.page-home {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.panel-show {
  background-color: #0a1c3c;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.panel-show::after {
  background: url(../img/boder-bottom.png);
  content: '';
  width: 100%;
  height: 40px;
  left: 0;
  position: relative;
  display: block;
  top: -38px;
}
.panel-show .wrap-bg {
  padding: 20px 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.panel-show .wrap-bg .bg-video::after {
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: rgb(6 28 66 / 69%);
  opacity: 1;
}

.panel-show .wrap-bg .bg-video video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.panel-show .wrap-bg .bg-video video::after {
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  background-color: rgba(10, 28, 60, 0.4);
  opacity: 0;
}
.panel-show .wrap-bg .text-content {
  max-width: 920px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.panel-show .wrap-bg .text-content .title-text {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-transform: uppercase;
  row-gap: 10px;
  line-height: 1.5;
}
.panel-show .wrap-bg .text-content .title-text em {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.panel-show .wrap-bg .text-content .icon-top {
  background-image: url(../img/icon-top.svg);
  background-repeat: no-repeat;
  display: block;
  width: 40px;
  height: 60px;
  margin: 0 auto 30px;
}
.panel-show .wrap-bg .text-content .btn-center {
  cursor: pointer;
  border: 1px solid #00beb8;

  background-color: transparent;
  display: inline-block;
  object-fit: contain;

  padding: 12px 20px;

  line-height: 1;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center;
}

.panel-show .wrap-bg .text-content .btn-center a {
  color: #00beb8;
}
.panel-show .wrap-bg .text-content .btn-center:hover {
  background: rgb(0, 150, 187);
}
.panel-show .wrap-bg .text-content .btn-center:hover a {
  color: #ffff;
}
/*-------------------*/

.page-home .box-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 0px;
  row-gap: 50px;
}

.page-home .box-topic .title-cate {
  position: relative;
  width: 100%;
  border-top: 2px solid rgb(0, 150, 187);
}
.page-home .box-topic .title-cate h4 {
  font-weight: 700;
  max-width: 90%;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0px);
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0px auto;
  padding: 0px 50px;
  background: rgb(255, 255, 255);
}
.title-cate h4 a {
  color: rgb(0, 150, 187);
}
.page-home .box-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  row-gap: 20px;
  column-gap: 60px;
}
.page-home .box-intro h4 {
  text-align: center;
}
.page-home .box-intro .icon {
  border: 2px solid rgb(0, 150, 187);
  width: 300px;
  height: 180px;
  border-radius: 10px 40px 10px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 35px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.page-home .box-intro .icon:hover {
  background: rgb(0, 150, 187);
}
.page-home .box-intro .icon:hover svg {
  fill: #fff;
}
.page-home .box-intro .title a {
  text-transform: uppercase;
  color: rgb(0, 150, 187);
  font-weight: 600;
}
.page-home .box-intro .box-letter,
.page-home .box-intro .box-member,
.page-home .box-intro .box-companion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 20px;
}

/*--------------*/

.wrap-slider {
  width: 100%;
}
.wrap-slider .title-cate {
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px 0px;
}

.wrap-slider .thumb {
  flex: 1;
}

.wrap-slider .text-des {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  padding: 0px 20px;
}
.wrap-slider .thumb img {
  width: 100%;
  border-radius: 10px;
  height: 100vh;
  object-fit: cover;
}

.wrap-slider .text-des span {
  background-color: rgba(255, 255, 255, 0.75);
  color: #3f3f3f;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  margin: 0.75rem 0;
  padding: 3px 15px;
  text-align: center;
  text-transform: none;
}

.wrap-slider .text-des h3 {
  font-size: 3rem;
  color: #000000;
}
.wrap-slider .text-des .sapo {
  font-size: 1.5rem;
  color: #030303;
  padding: 10px 0px;
}

.wrap-slider .text-des .btn-more {
  border-radius: 15px 0 15px 0;
  background: #0096bb;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  max-height: 40px;
  outline: none;
  padding: 11px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1;
  transition: all 0.3s ease-in-out;
}
.wrap-slider .text-des .btn-more a {
  color: #fff;
}
.wrap-slider .text-des .btn-more:hover {
  border-radius: 15px 0 15px 0;
  background: #efbb1b;
}
.wrap-slider .text-des .btn-more:hover a {
  color: #fff;
}

.wrap-slider .custom-arrows {
  position: absolute;
  left: 40%;
  top: 50%;
}

.wrap-slider .custom-arrows .arrows {
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  position: relative;
  padding: 15px;
  width: 110px;
}

.wrap-slider .custom-arrows .arrows:before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  background: url(../img/Ellipse.svg) top center no-repeat;
  background-size: contain;
  height: 86px;
  top: 12.5px;
  width: 86px;
  transform: translate(-50%);
}

.wrap-slider .slideshow-container {
  position: relative;
  background: #00497917;
}
.wrap-slider .mySlides {
  display: flex;
}

.wrap-slider .home-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 20px;
}
.wrap-slider .prev,
.wrap-slider .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 0 16px 0px 0px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

.wrap-slider .next {
  right: 0;
}

.wrap-slider .active {
  background-color: #717171;
}

/* Fading animation */
.wrap-slider .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*----------*/
.wrap-mapvietnam {
  width: 100%;
  padding: 20px 0px;
}
.wrap-mapvietnam .body-map {
  display: flex;
  align-items: center;
  background: rgba(0, 73, 121, 0.09);
  padding: 20px;
}
.wrap-mapvietnam .body-map .map-vn {
  flex: 1;
}
.wrap-mapvietnam .body-map .map-vn img {
  width: 100%;
}
.wrap-mapvietnam .body-map .map-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.wrap-mapvietnam .body-map .text-map {
  flex: 1;
  padding: 20px;
}
.wrap-mapvietnam .body-map .btn-more {
  border-radius: 15px 0 15px 0;
  background: #0096bb;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  min-height: 50px;
  outline: none;
  padding: 18px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  zoom: 1;
  transition: all 0.3s ease-in-out;
}
.wrap-mapvietnam .body-map .text-map h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(0, 150, 187);
}

.wrap-mapvietnam .body-map .btn-more a {
  color: #fff;
}

.wrap-mapvietnam .body-map .text-map .sapo {
  font-size: 1.5rem;
  color: rgb(0, 150, 187);
}
.number-address {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 250px;
}

.number-address .add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-address .add-item .number {
  font-size: 5.5rem;
  color: #e74c3c;
  font-weight: 700;
}

.number-address .add-item .text-number {
  font-size: 2rem;
  color: rgb(0, 150, 187);
  font-weight: 700;
}
/*-----------*/

.wrap-map {
  width: 100%;
  padding: 20px 0px;
}

.title-cate {
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0px;
}
.title-cate h4 {
  padding: 30px 0px;
}
.show-map {
  background: url(../img/bg-mapvn.png) top left no-repeat;
  background-size: cover;
  padding: 50px 0;

  border-radius: 10px;
}
.home-map {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-map .show-map .home-map .map-vietnam {
  position: relative;
  text-align: center;
  flex: 1.2;
  order: 2;

  width: 100%;
}

.wrap-map .home-map .map-vietnam svg {
  width: 100%;
  fill: #ffffff72;
  stroke: rgb(0, 150, 187);
  height: calc(100% -200px);
}
.wrap-map .show-map .home-map .map-vietnam svg path:hover {
  fill: #efbb1b;
  cursor: pointer;
}

.wrap-map .show-map .home-map .box-content {
  order: 1;
  flex: 1;
  width: 100%;
}
.wrap-map .show-map .home-map .box-content p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;

  padding: 20px;
  border-radius: 10px;
}
.wrap-map .show-map .home-map .address-vn {
  order: 3;
  flex: 1.5;
}
.wrap-map .show-map .home-map .address-vn img {
  width: 100%;
}
.wrap-map .show-map .home-map .box-maptext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  opacity: 1;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
/*------------------------*/
.wrap-listnews {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.wrap-listnews .title-cate {
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;

  padding: 30px 0px;
}
.wrap-listnews .box-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  column-gap: 30px;
}
.wrap-listnews .box-list .story {
  width: 100%;
}
.wrap-listnews .box-list .story .thumb img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 40px 10px;
}

.wrap-listnews .box-list .story .title .btn-more a {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  color: #0096bb;
  cursor: pointer;
}
.wrap-listnews .box-list .story .title .btn-more svg {
  padding: 10px 0px 0px;
}
.wrap-listnews .box-list .story .title .btn-more a strong {
  padding-right: 10px;
  font-style: italic;
}

/*--------------*/

.wrap-donors .title-cate {
  font-size: 1.5rem;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0px;
}
.wrap-donors .box-donors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 20px;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}
/*-------------*/
.wrap-ques {
  padding: 50px 0px;
}
.wrap-ques .ques-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap-ques .ques-content h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}
.wrap-ques .ques-content p {
  line-height: 1.5;
  color: #2e3928;
  font-style: italic;
  padding: 20px;
}
.wrap-ques .ques-content .btn-submit {
  border-radius: 15px 0 15px 0;
  background: #0096bb;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 1;
  max-height: 40px;
  outline: none;
  padding: 11px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.wrap-ques .ques-content .btn-submit a {
  color: #fff;
}
/*----------------*/
.footer {
  background-image: linear-gradient(178deg, rgba(253, 253, 253, 0.5) -2.55%, rgb(255, 255, 255) 63.5%), url(../img/bg-footer.jpg);
  background-position: left 25% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .wrap-footer .wrap-ques {
  position: relative;
}

.footer .wrap-ques::before {
  height: 60px;
  width: 100%;
  content: '';
  background: linear-gradient(178deg, rgb(251 250 250 / 54%) -2.55%, rgb(255 255 255 / 59%) 63.5%);
  position: absolute;
  position: absolute;
  margin-top: -70px;
}

.footer .wrap-footer .box-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .wrap-footer .box-logo .logo {
  width: 120px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) center center/112px no-repeat;
  object-fit: cover;
}
.footer .wrap-footer .box-logo .copy-right {
  text-align: center;
}

/*--------------------------*/
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 60px);
    margin: auto;
  }
  .wrap-introduce::before {
    top: 30% !important;
  }
  .wrap-introduce.page-cate::before {
    top: 30% !important;
  }
  .page-home .box-intro .icon {
    width: 250px;
  }
  .page-home .box-topic {
    max-width: 900px;
    margin: auto;
  }
  .wrap-listnews {
    max-width: 900px;
    margin: auto;
  }
  .wrap-listnews .box-list {
    display: flex;
    flex-direction: column;

    row-gap: 20px;
  }
  .wrap-listnews .box-list .story {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  .wrap-listnews .box-list .story .thumb {
    flex: 1;
  }
  .wrap-listnews .box-list .story .title {
    flex: 1.5;
  }
  .wrap-mapvietnam .body-map {
    display: flex;
    flex-direction: column;
  }
  .border-bottom-cate {
    top: 26%;
  }
}
@media only screen and (max-width: 992px) {
  .page-home .box-intro .icon {
    width: 230px;
  }

  .wrap-slider {
    height: auto;
  }

  .container {
    width: calc(100% - 60px);
    margin: auto;
  }
  .wrap-introduce::before {
    top: 29% !important;
  }
  .wrap-introduce.page-cate::before {
    top: 29% !important;
  }
  .border-bottom-cate {
    top: 26%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .nav-btn {
    display: block;
  }
  .nav-pc {
    display: none !important;
  }
  .menu-mobile {
    display: block !important;
  }
  header .navigation {
    justify-content: space-between;
  }
  .container {
    width: calc(100% - 100px);
    margin: auto;
  }
  .wrap-body .notebox {
    width: 50% !important;
  }
  .wrap-organizing .box-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrap-organizing .box-list .card {
    width: 47% !important;
  }
  .wrap-introduce::before {
    top: 29% !important;
  }
  .wrap-introduce.page-cate::before {
    top: 30% !important;
  }
  .wrap-pagecate .list-articles .post-list .story {
    width: 47% !important;
  }
  .home-map {
    display: flex;
    flex-direction: column;
  }
  .page-home .box-topic {
    max-width: 700px;
    margin: auto;
  }
  .page-home .box-intro .icon {
    width: 190px;
  }
  .wrap-donors .title-cate {
    font-size: 1.3rem;
    letter-spacing: 7px;
  }
  .wrap-listnews {
    max-width: 700px;
    margin: auto;
  }
  .wrap-slider .home-slider {
    display: flex;
    flex-direction: column;
  }
  .wrap-slider .thumb img {
    height: auto;
  }
  .wrap-slider .slideshow-container {
    padding: 15px 0px;
  }
  .wrap-slider .text-des {
    padding: 30px 20px;
  }
  .wrap-slider .thumb img {
    border-radius: 0px;
  }

  .number-address {
    column-gap: 50px;
  }
  .number-address .add-item .number {
    font-size: 4rem;
  }
  .number-address .add-item .text-number {
    font-size: 1.5rem;
  }
  .border-bottom-cate {
    top: 214px;
  }
}
@media only screen and (max-width: 600px) {
  .wrap-body .notebox {
    width: 100% !important;
  }
  .wrap-body .notebox {
    margin: 20px 0px !important;
  }
  .wrap-introduce::before {
    top: 29% !important;
  }
  .wrap-introduce.page-cate::before {
    top: 30% !important;
  }
  .wrap-pagecate .wr-articles {
    display: flex;
    flex-direction: column;
  }
  .wrap-pagecate .wr-articles .des {
    order: 2;
  }
  .wrap-pagecate .wr-articles .thumb {
    order: 1;
  }
  .wrap-pagecate .wr-articles .thumb img {
    border-radius: 100px 15px 100px !important;
  }
  .wrap-pagecate .list-articles .post-list .story {
    display: flex;

    column-gap: 20px;
    width: 100% !important;
  }
  .wrap-pagecate .list-articles .post-list .story .thumb {
    flex: 1;
  }
  .wrap-pagecate .list-articles .post-list .story .des {
    flex: 2;
  }
  .wrap-pagecate .list-articles .post-list .story .des .sapo {
    display: none;
  }
  .page-home .box-topic {
    max-width: 600px;
    margin: auto;
  }
  .box-topic .h-24 {
    height: 80px;
  }
  .page-home .box-intro .icon {
    width: 140px;
    height: 130px;
    padding: 22px;
  }
  .wrap-listnews {
    max-width: 550px;
    margin: auto;
  }
  .wrap-slider .home-slider {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }
  .wrap-slider .thumb img {
    height: auto;
  }
  .wrap-slider .text-des h3 {
    font-size: 1.5rem;
  }
  .wrap-slider .custom-arrows {
    top: 28%;
  }
  .wrap-organizing .box-list .card .card-text {
    text-align: center;
  }
  .timeline::after {
    width: 3px !important;
    margin-left: -1px !important;
  }
  .box-timeline {
    padding: 10px 17px !important;
  }
  .box-timeline::after {
    width: 18px !important;
    height: 18px !important;
  }
  .box-timeline .content h2 {
    font-size: 1.2rem !important;
  }
  .wrap-mapvietnam .body-map .text-map {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: calc(100% - 50px);
    margin: auto;
  }
  .wrap-more .box-more .story {
    width: 47% !important;
  }
  .wrap-list .box-list .story .des .sapo {
    display: none;
  }
  .wrap-body .end_author {
    justify-content: center !important;

    row-gap: 20px;
  }
  .wrap-introduce::before {
    top: 29% !important;
  }

  .wrap-organizing .box-list .card {
    width: 100% !important;
  }
  .form-item {
    display: flex;
    flex-direction: column;

    align-items: flex-start !important;

    row-gap: 10px;
  }
  .page-home .box-topic {
    max-width: 400px;
    margin: auto;
  }
  .page-home .box-intro .icon {
    width: 90px;
    height: 80px;
    padding: 9px;
  }
  .box-topic .h-24 {
    height: 50px;
  }
  .wrap-listnews {
    max-width: 400px;
  }
  .wrap-listnews .box-list .story .title p {
    display: none;
  }
  .wrap-slider .home-slider {
    padding: 2px 0px;
  }
  .wrap-donors .title-cate {
    font-size: 1.1rem;
    letter-spacing: 5px;
  }
  .panel-show .wrap-bg .text-content {
    top: 50%;
  }
  .wrap-companion .box-title h4 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .wrap-organizing .h-24,
  .wrap-companion .h-24,
  .wrap-body .h-24 {
    height: 30px;
  }
  .panel-show {
    height: 70vh;
  }
  .panel-show .wrap-bg .bg-video video::after {
    height: 70vh;
  }
  .panel-show .wrap-bg .bg-video::after {
    height: 70vh;
  }
  .panel-show .wrap-bg .bg-video video {
    height: 70vh;
  }
  .panel-show .wrap-bg .text-content .title-text {
    font-size: 1.5rem;
  }
  .panel-show .wrap-bg .text-content .title-text em {
    font-size: 1rem;
  }
  .panel-show .wrap-bg .text-content .icon-top {
    width: 35px;
    height: 50px;
  }
  .panel-show .wrap-bg .text-content {
    row-gap: 10px;
  }
  .border-bottom {
    bottom: 142px;
  }
  .wrap-slider .custom-arrows .arrows {
    width: 90px;
    height: 90px;
  }
  .wrap-slider .custom-arrows .arrows:before {
    width: 80px;
    height: 80px;
    top: 5px;
  }
  .wrap-body p strong {
    font-size: 1.2rem !important;
  }
}
@media only screen and (max-width: 390px) {
  .border-bottom {
    bottom: 149px;
  }
  .wrap-introduce .box-tophead {
    padding: 0px 0px 0px;
  }
  .page-home .box-intro .icon {
    border-radius: 0px;
  }
  .page-home .box-intro .icon {
    width: 67px;
    height: 60px;
    padding: 0px;
  }
  .page-home .box-intro {
    padding: 0px 20px;
  }
}
